<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Favicons -->
<link rel="apple-touch-icon" sizes="180x180" href="assets/ico/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="assets/ico/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="assets/ico/favicon-16x16.png">
<link rel="manifest" href="assets/ico/site.webmanifest">
<link rel="mask-icon" href="assets/ico/safari-pinned-tab.svg" color="#5bbad5">
<link rel="shortcut icon" href="assets/ico/favicon.ico">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-config" content="assets/ico/browserconfig.xml">
<meta name="theme-color" content="#ffffff">

<!-- Plugins CSS -->
<link rel="stylesheet" href="node_modules/flickity/dist/flickity.min.css">
<link rel="stylesheet" href="node_modules/flickity-fade/flickity-fade.css">
<link rel="stylesheet" href="node_modules/fullpage.js/dist/fullpage.min.css">
<link rel="stylesheet" href="node_modules/highlightjs/styles/codepen-embed.css">
<link rel="stylesheet" href="node_modules/@fortawesome/fontawesome-free/css/all.min.css">
<!-- build:css assets/libs/incline-icons/style.min.css -->
<link rel="stylesheet" href="assets/libs/incline-icons/style.css">
<!-- endbuild -->

<!-- Theme CSS -->
<!-- build:css assets/css/@@css.min.css -->
<link rel="stylesheet" href="assets/css/@@css.css">
<!-- endbuild -->

<title>@@title</title>