<div class="footer-basic">
	<footer>
		<div class="social">
			<a href="#">
				<i class="icon ion-android-mail"></i>
			</a>
			<a href="#">
				<i class="icon ion-social-instagram"></i>
			</a>
			<a href="#">
				<i class="icon ion-social-linkedin"></i>
			</a>
			<a href="#">
				<i class="icon ion-social-twitter"></i>
			</a>
			<a href="#">
				<i class="icon ion-social-facebook"></i>
			</a>
		</div>
		<ul class="list-inline">
			{% for item in sulu_navigation_root_tree('footer') %}
				<li class="list-inline-item">
					<a href="{{ sulu_content_path(item.url) }}" title="{{ item.title }}" class="text-white">
						{{ item.title }}
					</a>
				</li>
			{% endfor %}
		</ul>
		<p class="copyright">{% trans %}main.title{% endtrans %} © 2019</p>
	</footer>
</div>
