{% set current_path = app.request.get('_route') %}
<nav class="navbar navbar-light navbar-expand-lg fixed-top transparency border-bottom border-light" id="transmenu">
	<div class="container">
		<a class="navbar-brand text-success" href="/home#header" id="logo"></a>
		<ul class="list-inline d-inline-flex justify-content-lg-start transparency" style="height: 15px;margin: 17px;">
			<li class="list-inline-item text-left" style="width: 20px;">
				<a href="#">
					<i class="icon ion-social-twitter transparency" style="color: #cccccc;"></i>
				</a>
			</li>
			<li class="list-inline-item" style="width: 13px;">
				<a href="#">
					<i class="icon ion-social-facebook" style="color: #cccccc;"></i>
				</a>
			</li>
			<li class="list-inline-item">
				<a href="#">
					<i class="icon ion-social-linkedin" style="color: #cccccc;"></i>
				</a>
			</li>
		</ul>
		<button data-toggle="collapse" class="navbar-toggler collapsed" data-target="#navcol-1">
			<span></span>
			<span></span>
			<span></span>
		</button>
		<div class="collapse navbar-collapse text-center" id="navcol-1">
			<ul class="nav navbar-nav ml-auto">
				{% for item in sulu_navigation_root_tree('main') %}
					{% set item_path=sulu_content_path(item.url) %}
					<li class="nav-item{% if current_path==item_path %} active{% endif %}">
						<a class="nav-link" href="{{ item_path }}" title="{{ item.title }}">{{ item.title }}</a>
					</li>
				{% endfor %}
				{% set item_path=path('campaign_subscription') %}

				<li class="nav-item" role="presentation">
					<a class="nav-link" href="#open-letter">open letter</a>
				</li>
				<li class="nav-item" role="presentation">
					<a class="nav-link" href="#updates">updates</a>
				</li>
				<li class="nav-item{% if current_path==item_path %} active{% endif %}" role="presentation">
					<a class="nav-link" href="{{ item_path }}" title="{{ 'menu.campaign.title'|trans }}">sign</a>
				</li>
				<li class="nav-item" role="presentation">
					<a class="nav-link" href="#about-us">about us</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
