{% extends 'base.html.twig' %}

{% block content %}
	<section id="sign">
		<div class="container">
			{% if error is defined %}
				<div class="row">
					<div class="col">
						<div class="alert alert-danger">
							<strong>Error:</strong>&nbsp;{{ error }}
						</div>
					</div>
				</div>
			{% endif %}
			<div class="row">
				<div class="col-lg-12 text-center">
					<div class="row">
						<div class="col">
							<h2 data-aos="fade" data-aos-duration="650" class="section-heading" style="font-family: Montserrat, sans-serif;">{% trans %}campaign.sign_now{% endtrans %}</h2>
							<hr class="my-4" style="font-family: Montserrat, sans-serif;">
						</div>
					</div>
					<div class="row">
						<div class="col d-lg-flex justify-content-lg-center" style="width: 100%;height: 80vh;">
                            {{ form_start(form, {'attr': {'style': 'width: 400px'}}) }}
                            <div class="form-group d-inline-flex">
                                {{ form_widget(form.firstName, {
                                    'attr': {
                                        'placeholder': form.firstName.vars.label | trans
                                    },
                                    'label': false
                                })}}
                                {{ form_widget(form.lastName, {
                                    'attr': {
                                        'placeholder': form.lastName.vars.label | trans
                                    },
                                    'label': false
                                })}}
                            </div>

                            <div class="form-group d-inline-flex flex-column" style="height: 59px;width: 401px;">
                                {{ form_widget(form.emailAddress, {
                                    'attr': {
                                        'placeholder': 'E-Mail'
                                    },
                                    'label': false
                                })}}
                                <small class="form-text text-danger">{{ form_label(form.emailAddress) }}</small>
                            </div>

                            <h6 class="text-left" style="font-family: Montserrat, sans-serif;">
                                {{ form_label(form.academicBackground) }}<br> 
                            </h6>

                            <div class="form-group">
                                {{ form_row(form.academicBackground) }}
                            </div>
                            
                            <div class="form-group mb-10">
                                {{ form_row(form.isDataPolicyAccepted) }}

                            </div>

                            <div class="form-group">
                                {{ form_widget(form.submit, {
                                    'attr': {
                                        'class': 'btn btn-primary',
                                        'type': 'submit',
                                        'style': "font-family: Montserrat, sans-serif;background-color: #b59b0c;"
                                    }
                                }) }}
                            </div>

                            {{ form_widget(form._token) }}
							{{ form_end(form, {'render_rest': false}) }}
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
							
{% endblock %}
