{% extends 'base.html.twig' %}

{% block content %}
<section class="section pb-0">

    <!-- Content -->
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <!-- Title -->
                <h6 class="title">
                    {% trans %}campagin.sidebar.title{% endtrans %}
                </h6>
            </div>
            <div class="col-md-10">
                <h3 class="mb-4">
                    {% trans %}campaign.successful_subscription.title{% endtrans %}
                </h3>
        </div>
    </div>
</div>
</section>
{% endblock %}
